html{
    font-size: 62.5%;
    height:100%;	
}
body
{background-color: rgb(167, 225, 248);
margin:0;
padding:0;
font-family: 'Courier New', Courier, monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* --------------------------------------------------------------- top bar options---------------------------------------------------*/
.sticky_bar{
    position:fixed;
    top:0rem;
    width: 100%;
    z-index: 5;
    flex: 1;
}
.sticky_bar .fas{
    display:none;
}
ul
{float:right;
margin-top:1.2rem;
font-size:1.8rem;
}
ul li
{display:inline-block;
}
ul li a
{text-decoration: none;
color: #fff;
padding:.5rem 2.0rem;
border: .1rem solid transparent;
border-radius:1.0rem;
transition:0.5s ease;
}
ul li a:hover
{background-color:rgb(228, 50, 6);
color:#000;
}
ul li.active a
{background-color:rgb(228, 50, 6);
color:rgb(17, 2, 2);
}
.top_bar{
    background: black;
    height: 5.0rem;
    margin-top: 0rem;
}
@media only screen and (max-width:425px){
    html{
        font-size: 55%;
    }
    .top_bar ul li{
        display: block;
    }
    .top_bar{
        position:absolute;
        top:0rem;
        right:-50rem;
        height:100vh;
        width:20.0rem;
        background: #0a0101;
        text-align:left;
        line-height:5rem;
        z-index: 5;
        transition:500ms;
    }
    .sticky_bar .fas{
        display: block;
        color: red;
        margin: 1.0rem;
        font-size: 4.0rem;
        cursor:pointer;
    }
    .fas{
        position: absolute;
        left:0rem;
    }
    #clm{
        position:absolute;
        right:15rem;
    }
    #small-menu{
        position:absolute;
        right:50rem;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    ul
    {
    float: right;
    margin-top:1.2rem;
    font-size:2rem;
    }
    .top_bar{
     height: 5rem; 
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    ul
    {
    float: right;
    margin-top:1.2rem;
    font-size:2rem;
    }
    .top_bar{
     height: 5rem; 
    }
}

/*-------------------------------------------------------------top div tag---------------------------------------------------------*/

.top_div{
    position:absolute;
    top:6rem;
    right:3rem;
    left:2rem;
    width:104rem;
    border-radius:2.0rem;
    background-color: rgb(80, 201, 248);
    height:40rem;
    margin-top: 1rem;

    box-shadow: 1.0rem 1.0rem grey;
}
.top_div_text{
    position: relative;
    padding-top: 1.0rem;
    margin-left: 5rem;
    float:left;
    font-size: 2rem;
}
.top_div_text:hover{
   position:absolute;
   left: 1.0rem;
}
#img1{
    border-radius:1.0rem;
}
.top_div_image{
    border: .5rem solid black;
    border-radius:1.4rem;
    position: relative;
    float:right;
    margin-right:5rem;
    margin-top:5rem;
    margin-bottom:0.5rem;
    height: 19.9rem;
    transition: 800ms;
}
.top_div_image:hover{
    opacity: 0.7;
}
@media only screen and (max-width:425px){
    html{
        font-size: 55%;
    }
    .top_div{
        position:absolute;
        left:1rem;
        top:6rem;
        width:32rem;
        height:70rem;
    }
    .top_div_image{
        position:absolute;
        top:39rem;
        left:2rem;
        height:22.8rem;
        border-radius:1.8rem;
        border:.5rem solid black;
    }
    .top_div_image:hover{
        opacity: 0.7;
    }
    .top_div_text{
       position:relative;
       left:-2rem;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    .top_div{
        position:absolute;
        width:57rem;
    }
    .top_div_image{
        position:relative;
        top:-40rem;
        right:-3rem;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .top_div{
        position:absolute;
        width:77rem;
    }
    .top_div_image{
        position:relative;
        top:-40rem;
        right:-3rem;
    }
}
@media only screen and (min-width:1025px) and (max-width:1440px){
   .top_div{
       position:relative;
       left:5rem;
   }
}
/*--------------------------------------------------------animation--------------------------------------------------------*/
#animation_div{
    border:.1rem solid black;
    border-radius:1.0rem;
    box-shadow: .5rem .5rem grey;
    position:absolute;
    right:5rem;
    top:57rem;
    width:35rem;
    height:25rem;
    border:.3rem solid black;
    animation: slide 10s infinite;
    background: url(images/pexels-olha-ruskykh-7504837.jpg);
}
#animation_div:hover{
    opacity: 0.7;
}
@keyframes slide{
    20%{
        background: url(images/pexels-olha-ruskykh-7504837.jpg);
    }
    45%{
        background: url(images/pexels-danny-meneses-943096.jpg);
    }
    70%{
        background: url(images/pexels-markus-spiske-1089440.jpg);
    }
    95%{
        background: url(images/pexels-olia-danilevich-4974914.jpg);
    }
}
@media only screen and (max-width:425px){
    html{
        font-size: 55%;
    }
    #animation_div{
        position:absolute;
        right:2rem;
        left:1rem;
        top:81rem;
        width:31rem;
        height:27rem;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    #animation_div{
       position:absolute;
       top:50rem;
       left:12rem;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    #animation_div{
        position:absolute;
        top:57rem;
        right:5rem;
    }
}
@media only screen and (min-width:1025px) and (max-width:1440px){
    #animation_div{
        position:absolute;
        left:73rem;
    }
}
/* ------------------------------------------------------school & college------------------------------------------------------ */
#school_heading{
    position:absolute;
    top:48rem;
    right:65rem;
    font-size:3.4rem;
}
#school_container{
    border: .1rem solid black;
    width: 60rem;
    height: 50rem;
    position: absolute;
    top:57rem;
    right:43rem;
    background-color: rgba(96, 206, 250, 0.486);
    border-radius: 2rem;
    box-shadow: .5rem .5rem grey;
}
.school_div{
    border: .3rem solid black;
    border-radius: 1.3rem;
    width:24rem;
    height:20rem;
    position: relative;
    top:2rem;
    left:2rem;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    font-size: 2.4rem;
    vertical-align: top;  
    margin-right: 5rem;
}
.school_div:hover{
    opacity: 0.7;
}
.caption{
    display:block;
    position:inherit;
    top:-1rem;
}
#marwari{
    position: relative;
    top:8rem;
    left:17rem;
}
.image-radius{
    width:24rem;
    border-radius: 1rem;
}
@media only screen and (max-width:425px){
    html{
        font-size: 55%;
    }
    #school_container{
        position:relative;
        top:125rem;
        left:2rem;
        width: 30rem;
        height: 70rem;
    }
    #school_heading{
        position:absolute;
        top:114rem;
        left:3rem;
        font-size:3.4rem;
    }
    .school_div{
        border: .5rem solid black;
        border-radius: 1.3rem;
        width:27.3rem;
        height:19.1rem;
        position: relative;
        top:2rem;
        left:1rem;
        display: inline-block;
        text-align: center;
        line-height: 2rem;
        font-size: 2.4rem;
        vertical-align: top;  
        margin-right: 2rem;
    }
    .caption{
        display:block;
        position:inherit;
        top:-2.8rem;
    }
    .image-radius{
        position:relative;
        left:0rem;
        width:27.2rem;
        border-radius: 1rem;
    }
    #dav{
        position:relative;
        top:5rem;
    }
    #marwari{
        position:relative;
        top:8rem;
        left:1rem;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    #school_container{
        position:relative;
        top:88rem;
        left:.5rem;
        width: 60rem;
        height: 50rem;
        padding-bottom:1rem;
    }
    #school_heading{
        position:absolute;
        top:78rem;
        width:30rem;
        left:2rem;
        font-size:3.4rem;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    #school_container{
        position:absolute;
        top:57rem;
        left:5rem;
        width:32rem;
        height:70rem;
    }
    #school_heading{
        position:absolute;
        top:47rem;
        left:7rem;
    }
    .school_div{
        position:relative;
        left:3rem;
        margin:1rem;
    }
    #marwari{
        position:relative;
        top:2rem;
        left:3rem;
    }
}
@media only screen and (min-width:1025px) and (max-width:1440px){
    #school_container{
        position:relative;
        left:6rem;
        top:15rem;
    }
}
/* -------------------------------------footer--------------------------- */
.container{
	max-width: 117.0rem;
	margin-left:0;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    position:absolute;
    margin-top:100%;  
    width:100%;
	background-color: #24262b;
    padding: 7rem 0;
}
.footer-col{
   width: 22%;
   padding: 0 1.6rem;
}
.footer-col h4{
	font-size: 1.8rem;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 3.5rem;
	font-weight: 500;
	position: relative;
    left:1.5rem;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -1rem;
	background-color: #e91e63;
	height: .2rem;
	box-sizing: border-box;
	width: 5rem;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 1rem;
}
.footer-col ul li a{
	font-size: 1.6rem;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: .8rem;
}
.footer-col .social-links a{
	display: inline-block;
	height: 4rem;
	width: 4rem;
	background-color: rgba(255,255,255,0.2);
	margin:0 1rem 1rem 0;
	text-align: center;
	line-height: 4rem;
	border-radius: 50%;
	color: #ffffff;
	transition:300ms;
    position: relative;
    left:1.4rem;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: rgb(228, 50, 6);
}
.copyright{
    position: absolute;
    right:0rem;
    bottom:0rem;
    color: red;
    font-size: large;
}
#help{
    position:absolute;
    left:28rem;
}
#pictures{
    position:absolute;
    left:55rem;
}
#aboutme{
    position:absolute;
    left:1.4rem;
}

/*responsive*/
@media only screen and (max-width:425px) {
    .footer{
      display:none;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    .footer{
        display: none;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .footer{
        position:relative;
        top:50rem;
    }
    .footer-col{
        width:20%;
    }
    #help{
        position:relative;
        left:-8.5rem;
    }
    #pictures{
        position:relative;
        left:-7rem;
    }
}
@media only screen and (min-width:1025px) and (max-width:1440px){
   .footer{
       position:absolute;
       top:0rem;
   }
   #help{
    position:relative;
    left:-17.5rem;
}
#pictures{
    position:relative;
    left:-16rem;
}
}
/* ---------------------------------------------------------------------------------- */
/* ------------------             -------------------------galary------------------------------- */
/* ------------------   ------------------------------------------------------------------ */
/* ------------------   ------------------------------------------------------------------ */
/* ------------------   ------------------------------------------------------------------ */
/* ------------------   --------------------------------------------------------------- */
/* ------------------   ---                --------------------------------------------------------------- */
/* ------------------   ---   ---------    ----------------------------------------------- */
/* ------------------   -------   -----    ------------------------------------------------------ */
/* ------------------   -------   -----    ------------------------------------------------------ */
/* ------------------             -----    ------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ */
#galary-heading{
    position: absolute;
    top:5rem;
    left:1rem;
    font-size: 2rem;
}
.galary-container{
    background-color: #24262b8c;
    padding:auto;
    margin: auto;
    position:absolute;
    top:18rem;
    left:2rem;
    right:2rem;
    border:.2rem solid black;
    height: 130rem;
}
.galary-images{
    width: 34rem;
    height: 26rem;
    display: block;
    margin-bottom: 2rem;
    border:.2rem solid rgb(12, 4, 1);
    border-radius: .2rem;
    position: relative;
    left:6rem;
    top:1rem;
    margin-right:16rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    background-color: rgba(11, 27, 247, 0.856);
    transition: 800ms;
}
.galary-images:hover{
    opacity: 0.6;
}
.galary-images1{
    width: 3rem;
    height: 9rem;
    display: block;
    border:.2rem solid rgb(17, 6, 1);
    border-radius: .2rem;
    position: relative; 
    top:-87rem;
    right:-50rem; 
    left:63rem;
    padding-right: 31.5rem;
    padding-top: 1rem; 
    padding-left:1rem;
    padding-bottom:14rem;
    margin-bottom: 2rem;
    background-color: rgba(11, 27, 247, 0.856);
    transition:800ms;
}
.galary-images1:hover{
    opacity: 0.6;
}
#last{
    height:26rem;
}
#secondlast{
    height:12.5rem;
}
.image-curve{
    border-radius: 1rem;
}
#galary-footer{
    position:absolute;
    margin-top:150%;  
    width:100%;
	background-color: #24262b;
    padding: 7rem 0;
}
@media only screen and (max-width: 425px){
    #galary-heading{
        position: relative;
        top:4rem;
        left:1rem;
        width:50rem;
        font-size: 1.5rem;
    }
    .galary-container{
        position:relative;
        top:1.5rem;
        left:0rem;
        width:41rem;
        height:245rem;
    }
    .galary-images{
        position:relative;
        top:5rem;
        left:0rem;
        width:38rem;
        height:29rem;
    }
    .galary-images1{
        position:relative;
        top:5rem;
        left:1rem;
        width:7.5rem;
        height:13rem;
    }
    #last{
        height:32rem;
    }
    #secondlast{
        height:16rem;
    }
    .galary-footer{
        display: none;
    }   
}
@media only screen and (min-width: 426px) and (max-width:768px){
    #galary-heading{
        position: relative;
        top:4rem;
        left:2rem;
        width:50rem;
        font-size: 2rem;
    }
    .galary-container{
        position:relative;
        top:1rem;
        left:.3rem;
        width:59rem;
        height:108rem;
    }
    .image-curve{
        width:25rem;
        border-radius: 1rem;
    }
    .galary-images{
        position:relative;
        top:5rem;
        left:1rem;
        width:25.5rem;
        height:20rem;
    }
    .galary-images1{
        position:relative;
        top:-65rem;
        left:30rem;
        width:0rem;
        height:4rem;
        padding-right: 26.5rem;
    }
    #last{
        height:16rem;
    }
    #secondlast{
        height:6rem;
    }
    .galary-footer{
        display:none;
    }
}
@media only screen and (min-width: 769px) and (max-width:1024px){
 .galary-footer{
     position:relative;
     top:29rem;
 }
 .galary-images{
     position:relative;
     left:1rem;
 }
 .galary-images1{
     position:relative;
     left:40rem;
 }
}
/* -----------------------------------------------------------------------ABOUT ------------------ */
/* ---------------------------------------      ----------------------------------------------------------- */
/* ------------------------------------   -----   -------------------------------------------------------- */
/* -----------------------------------   -------    -------------------------------------------------------- */
/* ----------------------------------   ----------     ------------------------------------------------------ */
/* --------------------------------                       ------------------------------------------------------------------ */
/* ------------------------------     ----------------      ---------------------------------------------------- */
/* -----------------------------     ------------------       --------------------------------------------------- */
/* ----------------------------     ---------------------      ------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
#aboutheading{
    position:relative;
    left:2rem;
    font-size: 5rem;
}
.about-div{
    position:absolute;
    top:10rem;
    right:1rem;
    left:1rem;
    background-color: blue;
    border:.2rem solid black;
    border-radius:1.0rem;
    padding:0.5rem;
}
.about-container{
    position:relative;
    top: 0.5rem;
    left:1.5rem;
    right:-5rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    background-color: rgb(0, 119, 255);
    border:.2rem solid black;
    border-radius: 1.0rem;
    padding:0.5rem;
    transition:800ms;
}
.about-container:hover{
    left:.20rem;
}
.heading{
    font-size: 3rem;
    color: black;
}
.para{
    font-size: 2.0rem;
    color: rgb(48, 43, 43);
}
.about-footer{
    position: relative;
    margin-top:130%;
    background-color:  #24262b;
    padding: 7rem 0;
}
@media only screen and (max-width:425px){
    .about-div{
        position:absolute;
        top:6rem;
        left:.5rem;
        width:36rem;
        height: 252rem;
    }
    #aboutheading{
        position:absolute;
        top:-2rem;
        left:2rem;
        font-size: 7rem;
    }
    .about-container{
        position:relative;
        top:10rem;
        left:.5rem;
        width:33.5rem;
        height: 58rem;
    }
    .heading{
        position: relative;
        top:-4rem;
        font-size: 4rem;
        color: black;
    }
    .para{
        position: relative;
        top:-8rem;
        text-align:left;
        font-size:2rem;
        color: rgb(48, 43, 43);
    }
    .about-footer{
        display: none;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    .about-footer{
        display:none;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .about-footer{
        position:relative;
        top:60rem;
    }
}
/* -------------------------------------------------------------------------HELP----------------------- */
/* --------------------------    ---------    ------------------------------------------------------------- */
/* --------------------------    ---------    ------------------------------------------------------------- */
/* --------------------------    ---------    ------------------------------------------------------------- */
/* --------------------------                 ---------------------------------------------------------------------- */
/* --------------------------    ---------    ------------------------------------------------------------- */
/* --------------------------    ---------    ------------------------------------------------------------- */
/* --------------------------    ---------    ------------------------------------------------------------- */
/* --------------------------    ---------    --------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
.help-div{
    position:absolute;
    top:8rem;
    left:1rem;
    right:1rem;
    background-color: rgb(21, 4, 248);
    border:.2rem solid black;
    border-radius:1.0rem;
    padding:1rem;
}
.help-container{
    position:relative;
    padding:1rem;
    background-color: rgb(14, 107, 247);
    border:.2rem solid black;
    border-radius: 1.0rem;
}
#help-heading{
   font-size: 3.0rem;
   color: black;
}
#help-heading:hover{
    position: relative;
    left:.1rem;
}
#help-body{
   font-size: 2.0rem;
   color:rgb(56, 54, 54);
}
#help-body:hover{
    position: relative;
    left:.1rem;
}
.help-footer{
    position:relative;
    margin-top:100%;
    background-color:#24262b ;
    padding: 7rem 0;
}
@media only screen and (max-width:425px){
   .help-footer{
       display:none;
   }
}   
@media only screen and (min-width:426px) and (max-width:768px){
   .help-footer{
       display: none;
   } 
}
